a {
    color: black;
}

body {
    background-image: url(sakura.png);
    font-family: 'Alegreya Sans', sans-serif;
    position: relative;
}

.container {
    margin-top: 30px;
}

.footer {
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}



