body {
    background-image: url(sakura.png);
    font-family: 'Alegreya Sans', sans-serif;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:lightgrey;
   color: white;
   text-align: center;
}

.container {
    margin-top: 30px;
}

a {
    color: black;
}






